In [1]:
import numpy as np
import pandas as pd
import Bio as bio
import re
import os
import glob
from Bio import SeqIO
import pprint
from BioSQL import BioSeqDatabase
from operator import add

In [2]:
data = pd.read_csv(r'C:\Users\Mole\Documents\Uni work\UNI WORK\Year 4\The project\Excel analysis\Human_Gene_all_combo.csv')
data

,Name,TAA,TGA,TAG,Global_GC,Global_GC3,TAAA,TAAT,TAAG,TAAC,...,TGAT,TGAG,TGAC,TAGA,TAGT,TAGG,TAGC,Unk_Stop,Unk_four,sum
0,Homo sapiens G protein subunit gamma transduci...,1,0,0,0.317629,0.237082,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Homo sapiens G protein subunit gamma transduci...,1,0,0,0.317629,0.237082,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Homo sapiens G protein subunit gamma transduci...,1,0,0,0.317629,0.237082,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Homo sapiens G protein subunit gamma transduci...,1,0,0,0.317629,0.237082,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Homo sapiens G protein subunit gamma transduci...,1,0,0,0.317629,0.237082,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408869,Homo sapiens phospholipid phosphatase related ...,0,0,1,0.713389,0.923849,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
408870,Homo sapiens phospholipid phosphatase related ...,0,0,1,0.713356,0.927580,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
408871,Homo sapiens phospholipid phosphatase related ...,0,0,1,0.713356,0.927580,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
408872,Homo sapiens phospholipid phosphatase related ...,0,0,1,0.713356,0.927580,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
408873,Homo sapiens phospholipid phosphatase related ...,0,0,1,0.713356,0.927580,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [3]:
data.drop_duplicates(subset ="Name",keep = 'first', inplace = True)
data

,Name,TAA,TGA,TAG,Global_GC,Global_GC3,TAAA,TAAT,TAAG,TAAC,...,TGAT,TGAG,TGAC,TAGA,TAGT,TAGG,TAGC,Unk_Stop,Unk_four,sum
0,Homo sapiens G protein subunit gamma transduci...,1,0,0,0.317629,0.237082,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
5,Homo sapiens G protein subunit gamma transduci...,1,0,0,0.319213,0.240545,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
10,PREDICTED: Homo sapiens RNA binding motif prot...,1,0,0,0.402502,0.247241,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
11,Homo sapiens protein phosphatase 1 regulatory ...,1,0,0,0.376190,0.250000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,PREDICTED: Homo sapiens RNA binding motif prot...,0,1,0,0.453952,0.250181,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408850,Homo sapiens tubulin polyglutamylase complex s...,0,1,0,0.740575,0.891382,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
408856,Homo sapiens chloride intracellular channel 3 ...,0,0,1,0.674907,0.893696,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
408861,Homo sapiens matrix metallopeptidase 23B (MMP2...,0,1,0,0.699519,0.911058,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
408866,Homo sapiens phospholipid phosphatase related ...,0,0,1,0.713389,0.923849,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
408870,Homo sapiens phospholipid phosphatase related ...,0,0,1,0.713356,0.927580,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [4]:
data_GC3 = data.groupby(np.arange(len(data))//1000).mean()
data_GC3 = data_GC3.drop(columns=['TAA','TGA','TAG','TAAA','TAAT','TAAG','TAAC','TGAA','TGAT','TGAG','TGAC','TAGA','TAGT','TAGG','TAGC','Unk_Stop','Unk_four','sum'])
data_GC3

     Global_GC  Global_GC3
0     0.369400    0.301661
1     0.374355    0.323020
2     0.375858    0.332153
3     0.376903    0.338679
4     0.381262    0.343933
..         ...         ...
111   0.614893    0.695827
112   0.618931    0.710346
113   0.623732    0.727582
114   0.632102    0.751835
115   0.646093    0.798005

[116 rows x 2 columns]

In [5]:
data_stops = data.groupby(np.arange(len(data))//1000).sum()
data_stops = data_stops.drop(columns= ['Global_GC','Global_GC3','Unk_Stop','Unk_four','sum'])
data_stops

,TAA,TGA,TAG,TAAA,TAAT,TAAG,TAAC,TGAA,TGAT,TGAG,TGAC,TAGA,TAGT,TAGG,TAGC
0,432,334,234,205,100,76,49,113,95,71,50,93,82,23,36
1,440,320,240,221,83,73,62,136,93,55,36,114,60,31,35
2,465,341,194,222,97,55,90,128,85,65,63,101,40,21,31
3,457,366,177,212,68,92,84,127,92,76,71,68,34,30,45
4,454,386,160,186,119,61,85,154,102,66,64,66,37,25,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,137,596,267,35,15,54,31,101,72,269,149,55,32,100,77
112,111,611,278,34,31,31,14,111,61,300,136,67,27,100,81
113,108,647,245,29,21,36,22,79,64,337,167,53,25,101,65
114,113,671,216,41,15,36,20,75,54,400,139,41,18,84,71
115,91,564,241,26,13,35,17,74,43,280,163,38,31,85,86

In [6]:
all_data = pd.concat([data_GC3, data_stops], axis=1)
all_data

,Global_GC,Global_GC3,TAA,TGA,TAG,TAAA,TAAT,TAAG,TAAC,TGAA,TGAT,TGAG,TGAC,TAGA,TAGT,TAGG,TAGC
0,0.369400,0.301661,432,334,234,205,100,76,49,113,95,71,50,93,82,23,36
1,0.374355,0.323020,440,320,240,221,83,73,62,136,93,55,36,114,60,31,35
2,0.375858,0.332153,465,341,194,222,97,55,90,128,85,65,63,101,40,21,31
3,0.376903,0.338679,457,366,177,212,68,92,84,127,92,76,71,68,34,30,45
4,0.381262,0.343933,454,386,160,186,119,61,85,154,102,66,64,66,37,25,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0.614893,0.695827,137,596,267,35,15,54,31,101,72,269,149,55,32,100,77
112,0.618931,0.710346,111,611,278,34,31,31,14,111,61,300,136,67,27,100,81
113,0.623732,0.727582,108,647,245,29,21,36,22,79,64,337,167,53,25,101,65
114,0.632102,0.751835,113,671,216,41,15,36,20,75,54,400,139,41,18,84,71
115,0.646093,0.798005,91,564,241,26,13,35,17,74,43,280,163,38,31,85,86

In [7]:
data_stdev = data.groupby(np.arange(len(data))//1000).std()
data_stdev = data_stdev.drop(columns= ['Unk_Stop','Unk_four','sum'])
data_stdev

,TAA,TGA,TAG,Global_GC,Global_GC3,TAAA,TAAT,TAAG,TAAC,TGAA,TGAT,TGAG,TGAC,TAGA,TAGT,TAGG,TAGC
0,0.495602,0.471876,0.423584,0.037821,0.014154,0.403904,0.300150,0.265131,0.215976,0.316751,0.293362,0.256953,0.218054,0.290578,0.274502,0.149978,0.186383
1,0.496635,0.466710,0.427297,0.036246,0.003375,0.415128,0.276020,0.260267,0.241276,0.342960,0.290578,0.228094,0.186383,0.317970,0.237606,0.173404,0.183872
2,0.499023,0.474283,0.395627,0.035482,0.002137,0.415799,0.296106,0.228094,0.286325,0.334257,0.279021,0.246649,0.243085,0.301480,0.196057,0.143456,0.173404
3,0.498397,0.481950,0.381860,0.036724,0.001728,0.408929,0.251872,0.289171,0.277527,0.333140,0.289171,0.265131,0.256953,0.251872,0.181320,0.170673,0.207408
4,0.498129,0.487074,0.366789,0.036034,0.001450,0.389301,0.323951,0.239450,0.279021,0.361129,0.302800,0.248406,0.244875,0.248406,0.188856,0.156203,0.176088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0.344019,0.490943,0.442614,0.036359,0.003955,0.183872,0.121613,0.226131,0.173404,0.301480,0.258617,0.443662,0.356267,0.228094,0.176088,0.300150,0.266725
112,0.314289,0.487767,0.448238,0.034062,0.004397,0.181320,0.173404,0.173404,0.117549,0.314289,0.239450,0.458487,0.342960,0.250147,0.162164,0.300150,0.272972
113,0.310536,0.478142,0.430302,0.032401,0.005577,0.167890,0.143456,0.186383,0.146757,0.269874,0.244875,0.472921,0.373162,0.224146,0.156203,0.301480,0.246649
114,0.316751,0.470085,0.411720,0.031516,0.008724,0.198389,0.121613,0.186383,0.140070,0.263523,0.226131,0.490143,0.346120,0.198389,0.133018,0.277527,0.256953
115,0.302241,0.483218,0.443674,0.031823,0.025287,0.167950,0.119643,0.193852,0.136507,0.275414,0.213867,0.463771,0.385994,0.201637,0.182862,0.293194,0.294731

In [8]:
data_all_stdev = pd.concat([all_data, data_stdev], axis=1)
data_all_stdev

,Global_GC,Global_GC3,TAA,TGA,TAG,TAAA,TAAT,TAAG,TAAC,TGAA,...,TAAG,TAAC,TGAA,TGAT,TGAG,TGAC,TAGA,TAGT,TAGG,TAGC
0,0.369400,0.301661,432,334,234,205,100,76,49,113,...,0.265131,0.215976,0.316751,0.293362,0.256953,0.218054,0.290578,0.274502,0.149978,0.186383
1,0.374355,0.323020,440,320,240,221,83,73,62,136,...,0.260267,0.241276,0.342960,0.290578,0.228094,0.186383,0.317970,0.237606,0.173404,0.183872
2,0.375858,0.332153,465,341,194,222,97,55,90,128,...,0.228094,0.286325,0.334257,0.279021,0.246649,0.243085,0.301480,0.196057,0.143456,0.173404
3,0.376903,0.338679,457,366,177,212,68,92,84,127,...,0.289171,0.277527,0.333140,0.289171,0.265131,0.256953,0.251872,0.181320,0.170673,0.207408
4,0.381262,0.343933,454,386,160,186,119,61,85,154,...,0.239450,0.279021,0.361129,0.302800,0.248406,0.244875,0.248406,0.188856,0.156203,0.176088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0.614893,0.695827,137,596,267,35,15,54,31,101,...,0.226131,0.173404,0.301480,0.258617,0.443662,0.356267,0.228094,0.176088,0.300150,0.266725
112,0.618931,0.710346,111,611,278,34,31,31,14,111,...,0.173404,0.117549,0.314289,0.239450,0.458487,0.342960,0.250147,0.162164,0.300150,0.272972
113,0.623732,0.727582,108,647,245,29,21,36,22,79,...,0.186383,0.146757,0.269874,0.244875,0.472921,0.373162,0.224146,0.156203,0.301480,0.246649
114,0.632102,0.751835,113,671,216,41,15,36,20,75,...,0.186383,0.140070,0.263523,0.226131,0.490143,0.346120,0.198389,0.133018,0.277527,0.256953
115,0.646093,0.798005,91,564,241,26,13,35,17,74,...,0.193852,0.136507,0.275414,0.213867,0.463771,0.385994,0.201637,0.182862,0.293194,0.294731

In [9]:
data_all_stdev.to_csv(r'C:\Users\Mole\Documents\Uni work\UNI WORK\Year 4\The project\Data\Human_extracted_bin.csv')

In [14]:
ee= pd.DataFrame([[1,2,3,4],[5,6,7,8],[2,3,4,5],[5,6,7,8],[2,4,5,6]])
ee

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
2  2  3  4  5
3  5  6  7  8
4  2  4  5  6

In [16]:
ee.groupby(np.arange(len(ee))//3).mean()

          0         1         2         3
0  2.666667  3.666667  4.666667  5.666667
1  3.500000  5.000000  6.000000  7.000000

In [13]:
ee

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
2  2  3  4  5
3  5  6  7  8